body {
    background-color: rgb(218, 224, 230);
}

.container {
    background-color: white;
    text-align: center;
    width: 400px;
    height: max-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centra horizontal y verticalmente */
}


li {
    white-space: normal; /* El texto se romperá en varias líneas si es necesario */
    overflow: hidden; /* El exceso de texto se ocultará */
    font-size: 16px; /* Tamaño de fuente inicial */
    transition: font-size 0.3s; /* Transición suave en el cambio de tamaño de fuente */
}

li:hover {
    font-size: 20px; /* Tamaño de fuente más grande cuando se pasa el ratón */
    cursor: pointer;
}


.inputlista {
    border-radius: 15px;
    width: 100%;
    height: 50px;
    box-shadow: 5px 5px 5px black;
    margin: 0;
}

.enviar {
    margin: 8px;
    background-color: rgb(245, 212, 1);
    padding: 10px; /* Aumentado el espacio interno para que el botón se vea mejor */
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
}

.enviar:hover {
    margin: 8px;
    background-color: rgba(166, 196, 16, 0.529);
    padding: 10px; /* Aumentado el espacio interno para que el botón se vea mejor */
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}

.error{
    margin: 8px;
    background-color: rgb(231, 21, 21);
    padding: 10px; /* Aumentado el espacio interno para que el botón se vea mejor */
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}



.btneliminar{
    
    background-color: rgba(9, 20, 233, 0.774);
    font-size: 18px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.btneliminar:hover{
    
    background-color: rgb(255, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo de la tabla según tus necesidades */
    margin: 20px auto; /* Centra la tabla en la pantalla */
    border: 1px solid #ddd; /* Borde de la tabla */
}

/* Estilos para las celdas encabezado */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Estilos para las celdas de datos */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Estilos alternos para filas (opcional) */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para filas resaltadas en amarillo */
tr.highlight {
    background-color: yellow;
}

/* Estilos para hover en filas (opcional) */
tr:hover {
    background-color: #ddd;
}

